<!DOCTYPE html>
<html>
<head>
  <title>GiftMuse</title>
</head>
<body>
  <h2>🎁 GiftMuse Agent</h2>
  <form action="/result" method="post">
    <input name="occasion" placeholder="Occasion"><br>
    <input name="recipient_gender" placeholder="Gender"><br>
    <input name="relation" placeholder="Relation"><br>
    <input name="budget" placeholder="Budget"><br>
    <input name="rating" placeholder="Rating"><br>
    <input name="likes" placeholder="Likes"><br>
    <input name="dislikes" placeholder="Dislikes"><br>
    <button type="submit">Generate Bundle</button>
  </form>
</body>
</html>
